//Theme-1
$color-1: #2b6777;
$color-2: #c8d8e4;
$color-3: #ffffff;
$color-4: #f2f2f2;
$color-5: #52ab98;

.button.is-color-1{
    background-color: $color-1;
    color: white;
    border-color: transparent;
}

.button.is-color-1:hover{
    background-color: $color-5;
}

.button.is-color-1:active{
    background-color: $color-1;
}

.bg-color1{
    background-color: $color-1;
}
.bg-color2{
    background-color: $color-2;
}
.bg-color3{
    background-color: $color-3;
}
.bg-color4{
    background-color: $color-4;
}
.bg-color5{
    background-color: $color-5;
}

.border-color1{
    border-color: $color-1;
}

.border-color2{
    border-color: $color-2;
}

.border-color3{
    border-color: $color-3;
}

.border-color4{
    border-color: $color-4;
}

.border-color5{
    border-color: $color-5;
}

.color1{
    color: $color-1;
}

.color2{
    color: $color-2;
}

.color3{
    color: $color-3;
}

.color4{
    color: $color-4;
}

.color5{
    color: $color-5;
}